@font-face {
    font-family: 'digital';
    src: url('../fonts/DS-DIGI.TTF');
}
@font-face {
    font-family: 'SketchRockwell';
    src: url('../fonts/SketchRockwell-Bold.ttf');
}
@font-face {
    font-family: 'angelina';
    src: url('../fonts/angelina.ttf');
}
@font-face {
    font-family: 'Espacio';
    src: url('../fonts/Espacio.ttf');
}
body {
    background-color: #000;
}
html, body, #tbl_wrap, body > div {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.modal {
    overflow-y: auto;
}
.button {
    list-style: none;
    display: inline-block;
    /*padding: 5px;*/
    color: #000000;
    background-color: rgba(255,255,255,0.5);
    /*opacity: 0.5;*/
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.button.big-button {
    width: 48px;
    height: 48px;
    line-height: 40px;
    font-size: 20px;
    border-width: 4px;
}
.button:hover, .button.active {
    background-color: #498192;
    color: #FFFFFF;
    /*opacity: 1;*/
}
ul.menu {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.menu li {
    display: inline-block;
    /*margin: 0 2px;*/
}
/*ul.menu a {
    color: #000000;
    display: block;
}
ul.menu a:hover, ul.menu .active a {
    color: #FFFFFF;
}*/
.top-left {
    position: absolute;
    top: 10px;
    left: 10px;
}
.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
}
.bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.middle-right {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -16px;
}
.middle-left {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -16px;
}
.log {
    background-color: #FFFFFF;
    overflow: auto;
    height: 100px;
}
.bitmap-btn {
    width: 100px;
    height: 33px;
    background: url('../assets/bitmapButton.png');
    background-size: 300px 33px;
    line-height: 33px;
    font-family: serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #093b4c;
    cursor: pointer;
    display: inline-block;
}
.bitmap-btn:hover {
    background-position: 100px 0;
}
.title {
    font-size: 40px;
    font-weight: bold;
    font-family: serif;
    font-style: italic;
    color: #59554D;
}
.subtitle {
    font-size: 30px;
    font-weight: bold;
    font-family: serif;
    font-style: italic;
    color: #c9baba;
}
.talkbubble {
   width: 100%;
   height: 100%;
   background: red;
   position: relative;
   /*-moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;*/
}
.talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 10px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 50px solid red;
   border-bottom: 13px solid transparent;
}
.talkbubble:after {
   content:"";
   position: absolute;
   left: 100%;
   top: 10px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-left: 50px solid red;
   border-bottom: 13px solid transparent;
}
#td_wrap {
    vertical-align: middle;
    text-align: center;
}
#game-container {
    position: relative;
    height: 500px;
    border: 1px solid white;
    display: inline-block;
}
#canvas {
    height: 498px;
    width: 664px;
}
#menu-cont, #belajar-cont, #quiz-cont {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#hypnosis-cont {
    height: 50px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 100px;
}


/**
 * Halaman Menu
 */
#menu-cont .title-cont {
    top: 80px;
    position: absolute;
    width: 100%;
    padding-right: 60px;
}
#menu-cont .title-cont > * {
    text-align: right;
}
#menu-cont ul.button-cont {
    position: absolute;
    top: 250px;
    padding: 0;
    margin: 0;
    width: 300px;
    margin-left: 10px;
}
#menu-cont ul.button-cont > li {
    /*display: inline-block;*/
    list-style: none;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}
#menu-cont ul.button-cont > li button {
    width: 100%;
    height: 50px;
    font-family: 'SketchRockwell';
    font-size: 16px;
}

/**
 * Halaman Belajar
 */
#materi-cont > div {
top: 15%;
position: absolute;
width: 100%;
height: 85%;
}
#materi-area {
    position: relative;
    display: block;
    width: 90%;
    height: 80%;
    margin-left: 5%;
    padding: 10px;
    background-color: #59554D;
    border: 5px solid #FFFF00;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
:-webkit-full-screen #materi-area {
    width: 100%;
    height: 100%;
}
#materi-area > div {
    width: 100%;
    height: 100%;
    /*background-color: #59554D;*/
    margin: 0px;
    display: block;
    text-align: left;
    color: #FFFFFF;
    font-size: 14px;
    position: relative;
}
.bg-primary {
    color: #FFF;
    background-color: #428BCA !important;
}
.bg-success {
    color: #FFF;
    background-color: #5CB85C !important;
}
.bg-warning {
    color: #FFF;
    background-color: #F0AD4E !important;
}
.bg-info {
    color: #FFF;
    background-color: #5BC0DE !important;
}
/*#materi-area .menu > *:hover {
    background-color: #C2E1E7;
    opacity: 1;
}*/
#materi-area .close {
    color: #00FF00;
    margin-right: 5px;
    z-index: 100;
    font-size: 22px;
}
/*#materi-area .menu > * {
    color: #000000;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    line-height: 16px;
    font-size: 8px;
}*/
#current-materi {
    max-height: 90%;
    max-width: 100%;
    overflow: auto;
    font-size: 24px;
    padding-right: 5px;
    font-family: Espacio;
    font-weight: bolder;
}
#current-materi strong {
    color: #FF0;
}
#current-materi img {
    max-height: 400px;
    float: left;
    margin: 0 10px 5px 0;
    cursor: pointer;
}

/**
 * Halaman Quiz
 */
#quiz-cont > table {
    width: 90%;
    position: relative;
    top: 150px;
    margin: auto;
    font-family: angelina;
    font-size: 24px;
}
#quiz-cont table td {
    text-align: left;
    padding-right: 10px;
    vertical-align: top;
    padding-bottom: 10px;
    position: relative;
}
#quiz-cont table .quest td {
    font-size: 30px;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 115px;
    overflow: auto;
}
.timer {
    font-size: 40px;
    color: #FFFF00;
    text-align: right !important;
    font-family: digital;
}
#quiz-cont table td.chooises {
    /*color: #000000;*/
    width: 40px;
    position: relative;
}
#quiz-cont strong {
    color: #000080;
}
#quiz-cont .quiz-result {
    position: relative;
    top: 50%;
    margin-top: -75px;
}
#quiz-cont .quiz-result > span {
    font-size: 46px;
    color: #57B86A;
    display: block;
}

/* NEW */
.btn-shadow {
  /*color: white;*/
  /*font-family: Helvetica, Arial, Sans-Serif;*/
  /*font-size: 14px;
  text-decoration: none;
  text-shadow: -1px -1px 1px #616161;*/
  position: relative;
  /*padding: 15px 30px;*/
  -webkit-box-shadow: 5px 5px 0 #666;
  -moz-box-shadow: 5px 5px 0 #666;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 10px 0 0;
  display: block;
}

.btn-shadow:hover, .btn-shadow.active {
  -webkit-box-shadow: 0px 0px 0 #666;
  -moz-box-shadow: 0px 0px 0 #666;
  transition: 0px 0px 0 #666;
  top: 5px;
  left: 5px;
}

@keyframes slide-left{from{left:0}to{left:-600px}};
.ssss{
    animation: slide-left liniear 1s;
}
.slide-animate.ng-enter, .slide-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
}

.slide-animate-down.ng-enter {
  top:-600px;
}
.slide-animate-down.ng-enter.ng-enter-active {
  top:0;
}
.slide-animate-down.ng-leave {
  top:0;
}
.slide-animate-down.ng-leave.ng-leave-active {
  top:600px;
}

.slide-animate-left.ng-enter {
  left:-800px;
}
.slide-animate-left.ng-enter.ng-enter-active {
  left:0;
}
.slide-animate-left.ng-leave {
  left:0;
}
.slide-animate-left.ng-leave.ng-leave-active {
  left:800px;
}

.slide-animate-right.ng-enter {
  left:800px;
}
.slide-animate-right.ng-enter.ng-enter-active {
  left:0;
}
.slide-animate-right.ng-leave {
  left:0;
}
.slide-animate-right.ng-leave.ng-leave-active {
  left:-800px;
}

.bg-1 {
    background: url(../assets/bg-1.jpg) center;
    background-size: cover;
}
.bg-2 {
    background: url(../assets/bg-2.jpg) center;
    background-size: cover;
}
.bg-3 {
    background: url(../assets/bg-3.jpg) center;
    background-size: inherit;
}
#slide-container {
    position: relative;
    border: 1px solid white;
    display: inline-block;
    width: 800px;
    height: 600px;
    background: #000000;
    overflow: hidden;
}
.full-block {
    width: 100%;
    height: 100%;
}
#progress-cont {
    width: 60%;
    top: 40%;
    left: 20%;
    position: absolute;
    color: #FFFFFF;
    font-family: 'angelina';
    font-size: 40px;
}
#progress-cont .progress {
    height: 40px;
}
#slide-container .left-menu {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #000066;
    z-index: 1;
}
#slide-container .left-menu button {
    width: 180px;
    margin: 10px auto;
    min-height: 50px;
}
#slide-container .carousel-control {
    display: none;
}

#guru-cont img {
height: 300px;
}
#guru-cont {
display: inline-block;
position: absolute;
left: 350px;
top: 100px;
}
#about-cont td * {
font-family: 'SketchRockwell' !important;
font-size: 29px;
color: #FFF;
}
.font-digital {
    font-family: 'digital';
}


.breadcrumb {
    /*centering*/
    display: inline-block;
    /*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);*/
    overflow: hidden;
    /*border-radius: 5px;*/
    /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
    counter-reset: flag;
    background: none;
    margin: 0;
}

.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    color: white;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 0 10px 0 30px;
    background: #666;
    background: linear-gradient(#666, #333);
    position: relative;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
    padding-left: 10px;
    border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
    left: 14px;
}
.breadcrumb a:last-child {
    border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
    padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover{
    background: #333;
    background: linear-gradient(#333, #000);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
    background: #333;
    background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px; /*half of square's length*/
    /*same dimension as the line-height of .breadcrumb a */
    width: 36px;
    height: 36px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
    length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
    if diagonal required = 1; length = 1/1.414 = 0.707*/
    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    background: #666;
    background: linear-gradient(135deg, #666, #333);
    /*stylish arrow design using box shadow*/
    box-shadow:
        2px -2px 0 2px rgba(0, 0, 0, 0.4),
        3px -3px 0 2px rgba(255, 255, 255, 0.1);
    /*
        5px - for rounded arrows and
        50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
    content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb a:before {
    /*content: counter(flag);
    counter-increment: flag;
    /*some styles now*/
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    left: 30px;
    background: #444;
    background: linear-gradient(#444, #222);
    font-weight: bold;*/
}


.flat a, .flat a:after {
    background: white;
    color: black;
    transition: all 0.5s;
}
.flat a:before {
    background: white;
    box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active,
.flat a:hover:after, .flat a.active:after{
    background: #9EEB62;
}

.zoom {
    max-height: 600px !important;
}

/*scrollbar themes*/
/*dark (dark colored scrollbar)*/
.mCS-yellow>.mCSB_scrollTools .mCSB_draggerRail{
    background:#000; /* rgba fallback */
    background:rgba(0,0,0,0.15);
}
.mCS-yellow>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background:#FFFF00; /* rgba fallback */
    background:rgba(255,255,0,0.75);
}
.mCS-yellow>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    background:rgba(255,255,0,0.85);
}
.mCS-yellow>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-yellow>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background:rgba(255,255,0,0.9);
}
.mCS-yellow>.mCSB_scrollTools .mCSB_buttonUp{
    background-position:-80px 0;
}
.mCS-yellow>.mCSB_scrollTools .mCSB_buttonDown{
    background-position:-80px -20px;
}
.mCS-yellow>.mCSB_scrollTools .mCSB_buttonLeft{
    background-position:-80px -40px;
}
.mCS-yellow>.mCSB_scrollTools .mCSB_buttonRight{
    background-position:-80px -56px;
}
.mCS-yellow>.mCSB_scrollTools .mCSB_draggerRail {
    width: 6px !important;
}
