<div id="game-container">
    <canvas id="canvas" width="1024" height="768"></canvas>
    <!-- <div>{{ currentState }}</div> -->
    <section id="menu-cont" ng-if="currentState == 'menu'">
        <div class="title-cont">
            <div class="title">Pengenalan Sistem Pernapasan</div>
            <div class="subtitle">Biologi Kelas XI</div>
        </div>
        <ul class="button-cont row">
            <li class="col-md-3 col-md-offset-3"><div class="bitmap-btn" ng-click="showBelajar()">Belajar</div></li>
            <li class="col-md-3"><div class="bitmap-btn" ng-click="showQuiz()">Quiz</div></li>
        </ul>
    </section>

    <!-- <section id="belajar-cont" ng-show="currentState == 'belajar' || currentState == 'materi'"> -->
        <div id="materi-area" ng-show="currentState == 'materi'">
            <div>
                <div ng-bind-html="currentMateri" id="current-materi"></div>
            </div>
            <ul class="menu bottom-right">
                <li class="button" ng-show="showPrevNext()"><a href="javascript:void(0);" ng-click="selectMateri(-1)"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                <li class="button" ng-show="showPrevNext()"><a href="javascript:void(0);" ng-click="selectMateri(1)"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li class="button"><a href="javascript:void(0);" ng-click="toggleMateri()"><i class="glyphicon glyphicon-remove"></i></a></li>
            </ul>
        </div>
        <ul class="menu middle-right" ng-hide="currentState != 'belajar'">
            <li class="button"><a href="javascript:void(0);" title="Maju" ng-mousedown="moveRight()" ng-mouseup="moveStop()"><i class="glyphicon glyphicon-hand-right"></i></a></li>
        </ul>

        <ul class="menu middle-left" ng-hide="currentState != 'belajar'">
            <li class="button"><a href="javascript:void(0);" title="Mundur" ng-mousedown="moveLeft()" ng-mouseup="moveStop()"><i class="glyphicon glyphicon-hand-left"></i></a></li>
        </ul>
    <!-- </section> -->

    <section id="quiz-cont" ng-if="currentState == 'quiz'">
        <table class="quest-cont" ng-if="quizState == 'quest'">
            <tbody>
                <tr class="quest"><td colspan="4" ng-bind-html="currentQest.quest"></td></tr>
                <tr class="answer">
                    <td class="chooises"><span class="button" ng-click="answerQuiz(currentQest.chooises[0].id)">a</span></td><td ng-bind-html="currentQest.chooises[0].text"></td>
                    <td class="chooises"><span class="button" ng-click="answerQuiz(currentQest.chooises[2].id)">c</span></td><td ng-bind-html="currentQest.chooises[2].text"></td>
                </tr>
                <tr class="answer">
                    <td class="chooises"><span class="button" ng-click="answerQuiz(currentQest.chooises[1].id)">b</span></td><td ng-bind-html="currentQest.chooises[1].text"></td>
                    <td class="chooises"><span class="button" ng-click="answerQuiz(currentQest.chooises[3].id)">d</span></td><td ng-bind-html="currentQest.chooises[3].text"></td>
                </tr>
                <tr class="answer">
                    <td class="chooises"><span class="button" ng-click="answerQuiz(currentQest.chooises[4].id)">e</span></td><td ng-bind-html="currentQest.chooises[4].text"></td>
                    <td class="disabled" colspan="2"></td>
                </tr>
            </tbody>
        </table>
        <div class="quiz-result" ng-if="quizState == 'result'">
            <div class="title">Skor</div>
            <span rating value="currentQuiz.rating" max="currentQuiz.maxRating" readonly="true"></span>
            <div class="button" ng-click="showQuiz()"><i class="glyphicon glyphicon-refresh"></i></div>
        </div>
    </section>

    <ul class="menu top-left" ng-show="currentState && currentState != 'loading'">
        <li class="button"><a href="javascript:void(0);" ng-click="openAbout()" title="Tentang"> <i class="glyphicon glyphicon-info-sign"></i> </a></li>
        <li class="button" ng-hide="currentState == 'menu' || currentState == 'materi'"><a href="javascript:void(0);" ng-click="showMenu()" title="Menu"> <i class="glyphicon glyphicon-tasks"></i> </a></li>
    </ul>

    <ul class="menu top-right" ng-show="currentState && currentState != 'loading'">
       <!--  <li><a href="javascript:void(0);" ng-click="openFullScreen('game-container')" title="Fullscreen"> <i class="glyphicon" ng-class="{'glyphicon-resize-full':!isFullscreen, 'glyphicon-resize-smalln':isFullscreen}"></i> </a></li> -->
        <li class="button"><a href="javascript:void(0);" title="Mute" ng-click="toogleMute()"> <i class="glyphicon" ng-class="{'glyphicon-volume-off':isMute, 'glyphicon-volume-up':!isMute}"></i> </a></li>
    </ul>

</div>