<div id="game-container">
    <canvas id="canvas" width="1024" height="768"></canvas>
    <!-- <div class="log">{{ currentState }}</div> -->
    <ul class="menu top-left" ng-show="currentState != 'loading'">
        <li><a href="javascript:void(0);" ng-click="openSetting()" title="Pengaturan"> <i class="glyphicon glyphicon-cog"></i> </a></li>
        <li><a href="javascript:void(0);" ng-click="openHelp()" title="Bantuan"> <i class="glyphicon glyphicon-question-sign"></i> </a></li>
        <li><a href="javascript:void(0);" ng-click="openAbout()" title="Tentang Aplikasi"> <i class="glyphicon glyphicon-info-sign"></i> </a></li>
    </ul>
    <ul class="menu top-right" ng-show="currentState != 'loading'">
       <!--  <li><a href="javascript:void(0);" ng-click="openFullScreen('game-container')" title="Fullscreen"> <i class="glyphicon" ng-class="{'glyphicon-resize-full':!isFullscreen, 'glyphicon-resize-smalln':isFullscreen}"></i> </a></li> -->
        <li><a href="javascript:void(0);" title="Mute" ng-click="toogleMute()"> <i class="glyphicon" ng-class="{'glyphicon-volume-off':isMute, 'glyphicon-volume-up':!isMute}"></i> </a></li>

    </ul>
</div>